.sign {
    background: #E5C643;
    margin-top: 60px;
}

.sign-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0;
}

.sign-inner h2 {
    font-size: 55px;
    font-weight: 900;
    color: #FFFFFF;
    width: 55%;
    text-align: center;
    line-height: 70px;
}

.sign-inner p {
    font-size: 32px;
    font-weight: 400;
    margin-top: 20px;
    color: #FFFCF8;
}

.sign-inner .form-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.sign-inner .form-group input {
    font-size: 24px;
    font-weight: 400;
    color: #767676;
    border: none;
    outline: none;
}

.sign-inner .form-group button {
    font-size: 33px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 37px;
    background-color: #000000;
    border-radius: 8px;
}

@media (min-width: 0) and (max-width: 768px) {    
    .sign-inner {
        padding: 80px 0;
    }
    
    .sign-inner h2 {
        font-size: 40px;
        width: 100%;
    }
    
    .sign-inner p {
        font-size: 24px;
    }
    
    .sign-inner .form-group {
        margin-top: 40px;
    }
    
    .sign-inner .form-group button {
        font-size: 24px;
    }
}

@media (min-width: 0) and (max-width: 482px) {   
    .sign-inner {
        padding: 60px 0;
    }
    
    .sign-inner h2 {
        font-size: 22px;
        width: 100%;
        line-height: 40px;
    }
    
    .sign-inner p {
        font-size: 22px;
        text-align: center;
    }
    
    .sign-inner .form-group {
        width: 100%;
    }
    
    .sign-inner .form-group input {
        font-size: 18px;
        width: 60%;
    }
    
    .sign-inner .form-group button {
        width: 40%;
        font-size: 22px;
    }
}