.asaid {
    padding: 40px 0;
}

.asaid span {
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    color: #3F48CC;
}

.asaid-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.asaid-inner .box {
    width: 300px;
    height: 137px;
    border-radius: 10px;
    background: #EDEEFF;
}

.asaid-inner .box .box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 41px 0;
}

.box .box-inner .info {
    margin-left: 20px;
}

.box .box-inner h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #3F48CC;
}

.box .box-inner span {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #3F48CC;
    display: block;
    width: 115px;
    margin-top: 5px;
}