.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav .logo a img {
    width: 236px;
    height: 60px;
    object-fit: cover;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-list .nav-item .nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #242323;
    text-decoration: none;
    display: none;
    margin: 0 20px;
}

.nav-list .nav-item .nav-btn {
    font-size: 22px;
    font-weight: 500;
    color: #FEFEFE;
    text-decoration: none;
    display: block;
    margin: 0 20px;
    padding: 15px 22px;
    background-color: #242323;
    border-radius: 7px;
    display: none;
}

.menu-btn {
    border: none;
    background: none;
    outline: none;
    display: none;
}

.menu-btn img {
    width: 30px;
    height: 30px;
}

.hero {
    margin-top: 20px;
    width: 100%;
    height: 852px;
    border-radius: 59px;
    background-color: #F4F6F5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-inner {
    display: flex;
    padding: 60px 70px 0 70px;
    justify-content: space-between;
}

.hero-inner .right span {
    font-size: 88.5px;
    font-weight: 900;
    line-height: 120px;
    color: #000000;
    display: block;
    width: 70%;
}

.hero-inner .right span:nth-child(1) {
    padding: 0 40px;
    background: #FFFFFF;
    transform: rotate(-2deg);
}

.hero-inner .right span:nth-child(2) {
    text-align: center;
}

.hero-inner .right span:nth-child(3) {
    padding: 0 40px;
    background: #EBD96B;
    transform: rotate(-2deg);
}

.hero-inner .right p {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #191818;
    margin-top: 20px;
}

.hero-inner .right .right-inner {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero-inner .right .right-inner button {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 18px 40px;
    background: #000000;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}

.hero-inner .left img {
    width: 871px;
    height: 784px;
    object-fit: cover;
}

@media (min-width: 0) and (max-width: 1024px) {
    .hero-inner .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .hero-inner .right span {
        font-size: 88.5px;
        font-weight: 900;
        line-height: 120px;
        color: #000000;
        display: block;
        width: 464px;
    }
    
    .hero-inner .right p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-inner .left {
        display: none;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    .hero {
        height: 750px;
        border-radius: 49px;
    }
    
    .hero-inner {
        padding: 40px 50px 0 50px;
    }
    
    .hero-inner .right span {
        font-size: 68.5px;
        line-height: 100px;
        width: 100%;
    }
    
    .hero-inner .right .right-inner {
        margin-top: 20px;
    }

    .hero-inner .right .right-inner img {
        display: none;
    }
}

@media (min-width: 0) and (max-width: 482px) {
    .hero {
        height: 600px;
        border-radius: 34px;
    }
    
    .hero-inner {
        padding: 60px 20px 0 20px;
    }
    
    .hero-inner .right span {
        font-size: 48.5px;
        line-height: 80px;
        width: 100%;
    }
    
    .hero-inner .right span:nth-child(1) {
        padding: 0 20px;
    }
    
    .hero-inner .right span:nth-child(2) {
        text-align: start;
        padding: 0 20px;
    }
    
    .hero-inner .right span:nth-child(3) {
        padding: 0 20px;
    }

    .hero-inner .right span:nth-child(4) {
        padding: 0 20px;
    }
    
    .hero-inner .right p {
        font-size: 24px;
        line-height: 28px;
    }
    
    .hero-inner .right .right-inner button {
        font-size: 20px;
        margin-left: 0;
    }
}