.footer {
    border-top: 3px solid #3F48CC;
    padding: 40px 0;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inner .info a {
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: #3F48CC;
    text-decoration: none;
}

.footer-inner .info span {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.footer-inner .social-media {
    display: flex;
    align-items: center;
}

.footer-inner .social-media span {
    font-size: 20px;
    font-weight: 400;
    color: #3F48CC;
}

.footer-inner .social-media .social-icon {
    display: flex;
    align-items: center;
}

.footer-inner .social-media .social-icon a {
    display: block;
    margin: 0 10px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}